:root {
    --base-color: #212121;
    --additional-color: #2196F3;
    --accent-color: #000000;
    --text-color: #757575;
    --attribute-color: #FFFFFF;
    --section-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --button-color: #F5F4FA;
    --portfolio-color: #F5F5F5;
}

body {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--base-color);
    background-color:var(--portfolio-color);
    
}
.opening-section {
    background-color: var(--attribute-color);
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--additional-color);
}
.logo-additional {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--accent-color)
}
.specific-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--attribute-color)
}
.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    color: var(--base-color);
}
.site-nav-list{
    list-style: none;
}
.link:hover{
    color: var(--additional-color);
}
.link:focus

.link:current{
   color: var(--additional-color);
}

.link-mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color:var(--text-color);
}
.link-mail:hover{
    color: var(--additional-color);
}
.link-mail:focus
.hero-section{
    background-color: var(--section-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--attribute-color);
}

.button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--additional-color);
    color: var(--attribute-color);
    cursor: pointer;
}
.select-button {
    font-family:'Roboto',sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--button-color);
    color: var(--base-color);
    cursor: pointer;
}
.select-button:hover {
    background-color: var(--additional-color);
    color: var(--attribute-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.team-section {
    background-color: var(--button-color);
}
.person-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.post-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.link-map{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--attribute-color);
}
.link-contact{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--base-color);
}
.work-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.footer-color{
    background-color: var(--section-color);
}