:root {
    --base-color: #212121;
    --additional-color: #2196F3;
    --accent-color: #000000;
    --text-color: #757575;
    --attribute-color: #FFFFFF;
    --section-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --button-color: #F5F4FA;
    --portfolio-color: #F5F5F5;
    --button-active:#188CE8;
}

body {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
 font-weight: 500;
color: var(--base-color);
    background-color:var(--attribute-color);
    
}
.opening-section {
    background-color: var(--attribute-color);
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--additional-color);
}
.logo-additional {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--accent-color)
}
.specific-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--attribute-color)
}
a{
 text-decoration: none;

}
.link {
text-decoration: none;
}
.nav-titles {
font-family: 'Roboto';
    font-size: 14px;
 letter-spacing: 0.02em;
    line-height: 1.14;
    color: var(--base-color);
}
.nav-titles:hover, .nav-titles:focus {
    color: var(--additional-color);
}
.link-contacts{
font-family: 'Roboto';
 font-weight: 500;
    line-height: 1.14;
    letter-spacing:0.02em;
    color:var(--text-color);
}

.link-contacts:hover,.link-contacts:focus{
    color: var(--additional-color);
}
.link-footer{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
       letter-spacing: 0.03em;
    color: var(--contacts-color);
}
.link-footer:hover,.link-footer:focus{
    color: var(--additional-color);
}
.list{
    list-style-type: none;
}

.link-mail:hover{
    color: var(--additional-color);
}
.link-mail:focus
.hero-section{
    background-color: var(--section-color);
}
.link-map{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--attribute-color);}

.hero-section{
    background-color: var(--section-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--attribute-color);
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--additional-color);
    color: var(--attribute-color);
    cursor: pointer;
}
.button:hover,.button:focus{
    background-color:var(--button-active);
}

.select-button {
    font-family:inherit;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--button-color);
    color: var(--base-color);
    cursor: pointer;
}
.select-button:hover,.select-button:focus {
    background-color: var(--additional-color);
    color: var(--attribute-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.features-title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.discription {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color);
}
.section-team {
    background-color:var(--button-color);
}
.section-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
}
.team{
background-color: var(--attribute-color);
}
.person-title{
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.post-title {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--text-color);
}

.project-title{
font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--base-color);
}
.work-title{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.footer-color{
    background-color: var(--section-color);
}